name: Build

on:
  workflow_dispatch:
  push:
    branches:
      - master
jobs:
  build:
    name: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Docker build and push
        run: |
          now=$(date --utc +"%Y.%-m.%-d.%-H.%-M.%-S")
          fail2ban_img_name='ghcr.io/sa4zet-org/docker.img.fail2ban'
          docker build --file fail2ban.dockerfile --tag="$fail2ban_img_name:$now" --tag="$fail2ban_img_name:latest" --build-arg="docker_img=$fail2ban_img_name" .
          docker push $fail2ban_img_name:$now
          docker push $fail2ban_img_name:latest
